/* Card/box CSS*/
.PageCard {
  width: 900px;
  height: 609px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* denne modulen står klar til MineProsjekter Compen er klar
.MineProsjekt {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

.pagebox {
  display: grid;
}
.MineSkilsstlye {
  display: grid;
}

.textbox {
  padding-left: 7rem;
  display: flex;
  flex-direction: column;
}

/* Font size*/
.Font40 {
  font-size: 40px;
}
.Font24 {
  font-size: 24px;
}

/* Decor*/
.SquareInline {
  height: 140px;
  width: 140px;
  background-color: #61d18180;
  overflow: visible;
  z-index: -1;
}
.SquareSmallInline {
  height: 100px;
  width: 100px;
  background-color: #61d18180;
  overflow: visible;
  z-index: -1;
}
.CircleInline {
  height: 100px;
  width: 100px;
  background-color: #61d18180;
  overflow: visible;
  z-index: -1;
}
.CircleSmallInline {
  height: 140px;
  width: 140px;
  background-color: #61d18180;
  overflow: visible;
  z-index: -1;
}
.SquareOutline {
  width: 188px;
  height: 188px;
  background-color: #62d082;
  overflow: visible;
  z-index: -1;
}
.SquaresmallOutline {
  width: 140px;
  height: 140px;
  background-color: #62d082;
  overflow: visible;
  z-index: -1;
}

.CircleOutline {
  height: 188px;
  width: 188px;
  background-color: #61d18180;
  overflow: visible;
  border-radius: 188px;
  z-index: -1;
}
.Triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #62d082;
  z-index: -1;
}

/* buttons */
.button {
  background-color: #7ca61a50;
  font-size: 22px;
  color: #ffff;
  border: none;
  padding: 10px;
  border-radius: 15px;
}
/*Image*/
.Imagestyle {
  width: 100px;
  height: 100px;
}
.Iconstyle {
  width: 26px;
  height: 26px;
}
.Imagestyle {
  width: 100px;
  height: 100px;
}
.imgAboutme {
  height: 250px;
  width: 250px;
  border-radius: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FlexConatiner {
  width: 300px;
  height: 300px;
  display: grid;
}

/* Om meg*/
.PageCardaboutmetext {
  text-align: center;
  padding-right: 7rem;
}
.PageCardaboutme {
  width: 900px;
  height: 609px;
  color: white;
  font-size: 26px;
  display: flex;
  align-items: center;
}
.Gridaboutme {
  display: grid;
  grid-template-columns: 300px 300px;
  align-items: center;
  justify-content: center;
}
/* my Skills CSS*/
.SkillPageCard {
  width: 900px;
  height: 609px;
  color: white;
  font-size: 38px;
}
.Gridbox {
  display: grid;
  grid-template-columns: 300px 320px, 300px 320px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.GridIcon {
  color: red;
}
/*Kontakt meg CSS*/
.Contactme {
  display: flex;
  align-items: center;
  justify-content: center;
}
.PageCardkontakt {
  width: 900px;
  height: 332px;
  color: white;
  text-align: center;
}
