.carouselContainer {
  margin: auto;
  width: 40vw;
}
.CardProdjektContainer {
  width: 559px;
  height: 296.5px;
}
.ProsjektCardData {
  color: #ffff;
  opacity: 0%;
  background-color: #cadd9f;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 559px;
}
.ProsjektCardData:hover {
  opacity: 100%;
}
.CardProdjekt {
  text-align: center;
  color: #ffff;
}
.ProsjektCardDataImg {
  width: 559px;
  height: 296.5px;
  z-index: -1;
  position: absolute;
}
.ProsjektLink {
  color: white;
  text-decoration: solid;
}
